body {
    font-family: Arial, sans-serif;
    background-color: #b3d4e8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #ebd391;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.profile-container h1 {
    margin-bottom: 20px;
}

.profile-container p {
    margin: 10px 0;
}

.profile-container a {
    color: #007BFF;
    text-decoration: none;
}

.profile-container a:hover {
    text-decoration: underline;
}
